@{
	ViewData["Title"] = "Home Page";
	var list = new List<DemoModel>();
	list.Add(new DemoModel{ Name="LOP"});
	list.Add(new DemoModel { Name = "BACKEND NETCORE" });
}

@model BE_092024_WebAspnetCore.Models.ProductModels

<h2 class="display-4">Nhập thông tin</h2>
<div asp-validation-summary="All"></div>
<form method="post"  class="m-2 p-3 bg-light">
	<div class="form-group">
		<label asp-for="@Model.ProductName"></label>
		<input class="form-control" asp-for="@Model.ProductName" />
		<span asp-validation-for="@Model.ProductName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Quantity"></label>
		<input class="form-control" asp-for="@Model.Quantity" />
		<span asp-validation-for="@Model.Quantity" class="text-danger"></span>
	</div>
	<div class="form-group">
		<button class="btn btn-danger" >Gửi thông tin</button>
	</div>
</form>

<div class="text-center">
	<div id="div_ListProductPartial"></div>
</div>
@section Scripts {

	<script>
		$(document).ready(function(){

			// khi cái view load xong thì gọi hàm để load partial vào
			  LoadPartialView();

			 $("#btnSave").click(function(){
				 ProductInsert();
			 });
		});

		function LoadPartialView(){

			// xử lý code ajax
			
			  $.ajax({
					type: 'GET',
					url: "/Home/ListProductPartialViews",
					data: {},
					dataType: "html",
					// dataType:"json",
					success: function (result) {
						// gắn htnml nhận được vào thẻ div bên trên
						  $("#div_ListProductPartial").html(result);
					},
					error(rs) {
						  console.log(JSON.stringify(result));
					}
				});

		}


		function ProductInsert(){
			var input_data ={

				ProductName:$("#txtProductName").val(),
				Quantity:$("#txtProductQuantity").val(),
			};
			 $.ajax({
					type: 'POST',
					url: "/Home/ProductInsert",
					data: input_data,
					//dataType: "html",
					 dataType:"json",
					success: function (result) {
						// gắn htnml nhận được vào thẻ div bên trên
						  alert(result.responseMsg);
					},
					error(rs) {
						  console.log(JSON.stringify(result));
					}
				});
		}
	</script>
}